In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/cleaned_car_data.csv')
df.head()

,Make,Model,Year,Mileage,Fuel_Type,Engine_Size,Transmission,Body_Type,Color,Owner_History,Price,Age
0,nissan,model d,2006,244586,diesel,1.1,automatic,coupe,red,third owner,6501.73,17
1,honda,model d,2006,89556,electric,4.4,automatic,coupe,gray,second owner,15860.51,17
2,ford,model e,2007,258273,hybrid,1.4,manual,suv,black,first owner,8136.09,16
3,kia,model e,2023,217592,electric,3.7,automatic,coupe,red,second owner,18556.40,0
4,chevrolet,model c,2002,256919,hybrid,2.8,manual,suv,blue,third owner,7486.00,21

In [3]:
df.dtypes

Make              object
Model             object
Year               int64
Mileage            int64
Fuel_Type         object
Engine_Size      float64
Transmission      object
Body_Type         object
Color             object
Owner_History     object
Price            float64
Age                int64
dtype: object

In [4]:
numeric_feature = df.select_dtypes(include=[np.number]).columns
print("The skewness of the numerical features are:\n\n", df[numeric_feature].skew().sort_values(ascending=False))

The skewness of the numerical features are:

 Price          0.123200
Engine_Size    0.045287
Year           0.019495
Mileage       -0.019195
Age           -0.019495
dtype: float64

##### This data's skewness values are very good and do not require any adjustments.

In [5]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df_scaler = df.copy()

for column in df_scaler.select_dtypes(exclude='object').columns:
    if column == 'Price':
        continue;
    df_scaler[column] = scaler.fit_transform(df_scaler[[column]])

In [6]:
df_scaler.head()

,Make,Model,Year,Mileage,Fuel_Type,Engine_Size,Transmission,Body_Type,Color,Owner_History,Price,Age
0,nissan,model d,-0.796732,1.079848,diesel,-1.622113,automatic,coupe,red,third owner,6501.73,0.796732
1,honda,model d,-0.796732,-0.768477,electric,1.234863,automatic,coupe,gray,second owner,15860.51,0.796732
2,ford,model e,-0.652527,1.243029,hybrid,-1.362388,manual,suv,black,first owner,8136.09,0.652527
3,kia,model e,1.654751,0.758015,electric,0.628838,automatic,coupe,red,second owner,18556.40,-1.654751
4,chevrolet,model c,-1.373551,1.226886,hybrid,-0.150338,manual,suv,blue,third owner,7486.00,1.373551

In [7]:
df_scaler.to_csv('../data/scaled_data.csv', index=False)